$light-green: rgb(204, 235, 197);
$mid-green: rgb(162, 223, 148);
$dark-green:rgb(124, 223, 101);

body {
    font-family: "Bebas Neue", "serif";
    font-weight: 200;
    background-color: $light-green;
}

h1, h2 {
    color: black;
}

p, a {
    vertical-align: auto;
}

.intro {
    font-family: "Tangerine", serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

.jumbotron {
    margin: 0;
    padding: 3rem;
    background-image: linear-gradient(to left, $light-green, $mid-green , $dark-green);
    text-align: center;
}

.row-content {
    padding: 10px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }

img {
    width: auto;
    height: 75px;
}

.site-footer {
    background-image: linear-gradient(to left, $light-green, $mid-green, $dark-green );
    padding: 20px 0;
    justify-content: center;
}

